* {
    margin: 0;
    padding: 0;
  }
  header {
    height: 70px;
    background: #f2f2f2;
    font-family: sans-serif;
  }

  .flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 70px;
  }

  li {
    list-style-type: none;
  }

  main {
    font-size: 16px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .image {
    width: 100%;
    height: 200px;
    margin-top: 10px;
    padding-top: 40px;
    background-image: url("./images/puppy-in-bowl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  main .row {
    display: flex;
  }
  main .row div {
    flex: 1;
    padding: 10px;
    color: black;
  }
  .yellow {
  }
  .red {
  }
  .green {
  }
  footer {
    height: 50px;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    padding: 10px;
  }
 
  }
  @media only screen and (max-width: 900px) { 
    main {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 500px) { 
    main {
      width: 100%;
    }
  }